.mobile-stack {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lead {
  font-size: 18px;
}


@media (min-width: 767px) {
  .branding-guide, 
  .creative-presentation,
  .laursa,
  .poster,
  .videoclip {
    overflow: hidden; /* Hide overflow content */
    height: 400px; /* Adjust height as needed for initial view */
    transition: all 5s ease-in 1s; 
  }
    
  .branding-guide img,
  .creative-presentation img,
  .laursa img,
  .poster img,
  .videoclip img {
    width: 100%; /* Ensure image fills container width */
    object-fit: cover; /* Crop image to fit container while maintaining aspect ratio */
  }

  .branding-guide.full-image,
  .creative-presentation.full-image,
  .laursa.full-image,
  .poster.full-image,
  .videoclip.full-image {
    overflow: visible; /* Allow full image display */
    height: auto; /* Allow image to adjust to its natural height */
  }

  .branding-guide::before,
  .creative-presentation::before,
  .laursa::before,
  .poster::before,
  .videoclip::before {
    content: "Click to Toggle";
    position: absolute;
    transform: translate(10%, 0%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .branding-guide:hover::before,
  .creative-presentation:hover::before,
  .laursa:hover::before,
  .poster:hover::before,
  .videoclip:hover::before {
    opacity: 1; 
  }

  .mobile-stack {
    display: flex;
    flex-direction: row; 
    text-align: center;
  }

  .lead {
    font-size: 21px;
  }
  
}